@using Library.Application.Web.Views.Users;
@model DeleteApplicationUserModel

<h2>@DomainResources.ApplicationUser</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(_ => _.Id)
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                @Html.DisplayFor(_ => _.UserName)
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                @Html.DisplayFor(_ => _.Email)
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                @Html.DisplayFor(_ => _.PhoneNumber)
            </div>
            <hr />
            <div class="form-group">
                <a class="btn btn-warning" asp-action="Index" asp-controller="Users">@WebResources.Cancel <i class="fa fa-times"></i></a>
                <button class="btn btn-danger" type="submit">@WebResources.Delete <i class="fa fa-trash"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
