@Html.AntiForgeryToken()
<script>
    $(document).ready(function () {
        window.Wishlist.initList();
    });
</script>

<h2>
    @WebResources.Wishlist
    @*<a class="btn btn-primary" asp-action="Create" asp-controller="Wishlist"><i class="fa fa-plus"></i></a>*@
</h2>
<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <div class="input-group">
            <input type="text" id="SearchTerm" class="form-control" placeholder="@WebResources.Action_Search" aria-label="@WebResources.Action_Search">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button" id="button-addon2" onclick="Wishlist.search()"><i class="fas fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

</div>
<table id="wishlist-table" class="table table-striped">
    <thead>
        <tr>
            <th>@* Invisible column *@</th>
            <th scope="col">@DomainResources.Book_Title</th>
            <th scope="col">@DomainResources.Book_Author</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>