@page "/Books/Create"

@inject BookService BookService
@inject NavigationManager NavigationManager

<div class="container">
    <h1>
        @string.Format(Resources.Format_Add, Resources.Book)
        <div class="btn-group float-right" role="group">
            <button class="btn btn-danger" type="button" @onclick="GoBack">@Resources.Action_Cancel</button>
            <button class="btn btn-primary" type="button" @onclick="AddNewBook">@Resources.Action_Save</button>
        </div>
        <div class="clearfix"></div>
    </h1>
    <div class="clearfix"></div>
    <EditForm Model="@CreateBookRequest" OnValidSubmit="@AddNewBook">
        <ValidationSummary />
        <PeterLeslieMorris.Blazor.Validation.Validate />

        <FieldEditorFor @bind-Value="CreateBookRequest.Title">
            <Field><RadzenTextBox @bind-Value="CreateBookRequest.Title"></RadzenTextBox></Field>
        </FieldEditorFor>
        <FieldEditorFor @bind-Value="CreateBookRequest.AlternativeTitle">
            <Field><RadzenTextBox @bind-Value="CreateBookRequest.AlternativeTitle"></RadzenTextBox></Field>
        </FieldEditorFor>
        <FieldEditorFor @bind-Value="CreateBookRequest.Author">
            <Field><RadzenTextBox @bind-Value="CreateBookRequest.Author"></RadzenTextBox></Field>
        </FieldEditorFor>
        <FieldEditorFor @bind-Value="CreateBookRequest.Isbn">
            <Field><RadzenTextBox @bind-Value="CreateBookRequest.Isbn"></RadzenTextBox></Field>
        </FieldEditorFor>
        <button class="btn btn-primary" type="submit">@Resources.Action_Save</button>
    </EditForm>
</div>

@code {
    private CreateBookRequest CreateBookRequest = new CreateBookRequest();
    void GoBack()
    {
        NavigationManager.NavigateTo("Books");
    }

    void AddNewBook()
    {
        var newBookId = BookService.CreateBook(CreateBookRequest);

        NavigationManager.NavigateTo($"Books/Read/{newBookId}");
    }
}
