@page "/Books/Read/{BookId:guid}"
@inject BookService BookService
@inject NavigationManager NavigationManager

<div class="container">
    <h1>
        @Resources.Details
        <div class="btn-group float-right" role="group">
            <button class="btn btn-secondary" type="button" @onclick="GoBack">@Resources.Action_Back</button>
            <button class="btn btn-primary" type="button" @onclick="UpdateBook">@Resources.Action_Update</button>
        </div>
    </h1>
    @if (Book != null)
    {
        <FieldDisplayFor @bind-Value="Book.Title"></FieldDisplayFor>
        <FieldDisplayFor @bind-Value="Book.AlternativeTitle"></FieldDisplayFor>
        <FieldDisplayFor @bind-Value="Book.Author" ValueOverride="@Book.Author.FullName()"></FieldDisplayFor>
        <FieldDisplayFor @bind-Value="Book.Genres"></FieldDisplayFor>
        <FieldDisplayFor @bind-Value="Book.Isbn"></FieldDisplayFor>
    }
    else
    {
        @Resources.Action_Loading
    }
</div>

@code {
    [Parameter] public Guid BookId { get; set; }
    private Book Book { get; set; }

    protected override void OnInitialized()
    {
        Book = BookService.GetBookById(BookId);
    }
    void GoBack()
    {
        NavigationManager.NavigateTo("Books");
    }
    void UpdateBook()
    {
        NavigationManager.NavigateTo($"Books/Update/{Book.Id}");
    }
}
