@page "/Authors/Create"

@inject AuthorService AuthorService
@inject NavigationManager NavigationManager

<div class="container">
    <h1>
        @string.Format(Resources.Format_Add, Resources.Author)
    </h1>
    <div class="clearfix"></div>
    <EditForm Model="@CreateAuthorRequest" OnValidSubmit="@AddNewAuthor">
        <ValidationSummary />
        <PeterLeslieMorris.Blazor.Validation.Validate />

        <FieldEditorForString @bind-Value="CreateAuthorRequest.Initials"></FieldEditorForString>
        <FieldEditorForString @bind-Value="CreateAuthorRequest.FirstNames"></FieldEditorForString>
        <FieldEditorForString @bind-Value="CreateAuthorRequest.Prefix"></FieldEditorForString>
        <FieldEditorForString @bind-Value="CreateAuthorRequest.LastName"></FieldEditorForString>
        <div class="btn-group float-right" role="group">
            <button class="btn btn-danger" type="button" @onclick="GoBack">@Resources.Action_Cancel</button>
            <button class="btn btn-primary" type="submit">@Resources.Action_Save</button>
        </div>
    </EditForm>
</div>

@code {
    private CreateAuthorRequest CreateAuthorRequest = new CreateAuthorRequest();
    void GoBack()
    {
        NavigationManager.NavigateTo("Authors");
    }

    void AddNewAuthor()
    {
        var newAuthorId = AuthorService.CreateAuthor(CreateAuthorRequest);

        NavigationManager.NavigateTo($"Authors/Read/{newAuthorId}");
    }
}
