@using Library.Application.Web.Views.NewsMessages;
@model ListModel

<h2>@DomainResources.NewsMessages <a class="btn btn-primary" asp-action="Create" asp-controller="NewsMessages"><i class="fa fa-plus"></i></a></h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">@DomainResources.NewsMessage_Title</th>
            <th scope="col">@DomainResources.NewsMessage_Message</th>
            <th scope="col" class="text-center">@DomainResources.NewsMessage_IsShown</th>
            <th scope="col">@WebResources.Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var newsMessage in Model.NewsMessages)
        {
            <tr>
                <td>@newsMessage.Title</td>
                <td>@newsMessage.Message</td>
                <td class="text-center">@if (newsMessage.IsShown) { <i class="fa fa-check"></i> } else { <i class="fa fa-times"></i> }</td>
                <td>
                    <a class="btn btn-primary" asp-action="Update" asp-controller="NewsMessages" asp-route-id="@newsMessage.Id"><i class="fa fa-pen"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="NewsMessages" asp-route-id="@newsMessage.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>